
nav{
    width: 100%;
    margin: 0;
    padding: 0;

}
nav ul{
    display: flex;
justify-content: right;
    list-style: none;
}

nav ul li {
    text-align: center;
    margin-right: 30px;

}
nav ul li a{
    text-decoration: none;
    font-size: larger;
    text-align: center;
    text-transform: uppercase;

}
a:hover{
   color: red;
    cursor: pointer;
}
.di{
    margin: 25px;
    padding: 25px;

}
.di h1{
    text-align: center;
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    animation-name:hello ;
    animation-duration: 1s;
  animation-iteration-count: infinite;

}
@keyframes hello {
    0%{background-color: green;}
    20%{background-color: gold;}
    30%{background-color: red;}
    40%{background-color: purple;}
    60%{background-color: yellow;}
    80%{background-color: blue;}
    100%{background-color: burlywood;}


}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(196, 214, 214);
    font-size: 25px;
}
a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    background-color: rgb(165, 173, 173);
}

 