.one {
    width: 300px;
    height: 200px;
    background-color: aqua;
}
.two {
    width: 300px;
    height: 200px;
    background-color: #333;
}
.three {
    width: 300px;
    height: 200px;
    background-color: #dd1616;
}
body {
    display: flex;
}