.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 15px;
}

.one {
    background-color: white;
    width: 500px;
    height: 400px;
    text-align: center;
    border-radius: 15px;

}

.two {
    background-color: rgb(94, 118, 250);
    width: 500px;
    height: 400px;
    justify-content: center;
    display: flex;
    border-radius: 15px;

}

.container>.one,
.two {
    flex: 200px;
}

body {
    background-color: rgb(243, 164, 243);
    display: flex;
}

.image {
    float: right;
}

.new-container {
    background-color: mediumpurple;
    width: 400px;
    height: 300px;
    margin-top: 50px;
    border-radius: 10px;
    float: right;
}

.bottom-right-image {
    float: right;
    margin-top: 90px;
}