th,
td {
    padding: 40px;
}

table {
    margin: auto;
    margin-top: 100px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 100px;
}

tr:nth-child(even) {
    background-color: rgb(189, 142, 233);
}
tr:nth-child(odd) {
    background-color: grey;
    color: green;
}

body {
    background-color: rgb(189, 142, 233);
}