body {
    background-color: #33333333;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-size: 25px;


}
ul {
    list-style-type: none;
display: flex;
}
header {

    justify-content: space-between;
    background-color: #333;
    height: 100px;
    float: right;
}
ul li {
    margin-left: left;

}
ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 28px;
    padding: 40px;
    float: right;
    display: flex;
}
footer {
    height: 100px;
    background-color: #333;
    padding: 18px;
}
a {
    padding: 28px;
    color: #f4f4f4;
    font-size: 20px;
    text-decoration: none;
    font-size: 20px;
}
h1 {
    margin-left: 60px;
    color: #f4f4f4;
    width: 200;
    background-color: green;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    height: 100px;
}
a:hover {
    color: #fffb00;
}

